li {
	list-style-type: none;
	display: inline;
	text-align:center;
	margin: 20px;
	border: 20px;
}

nav {
	background-color: yellow;
	display: flex;
}

ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
}